<div id="content" class="container"> 
        
    <div id="tabWrapper">        
        <div id="tabs">            
         
				<% for badge in @badges %>				
				<%= link_to_unless_current(badge.name, rank_badge_path(badge.rank, badge)) {link_to badge.name, rank_badge_path(badge.rank, badge), :class =>
"nowactive" } %>
				<% end %>
				
			
                    
        </div>        
    </div>    
    
    <div> 
        
        
    </div>    
    
    
    
    
     <%for achievement in @achievements%>
    <div class="achieveBlock"> 
        <div class="achieveTitleWrapper"> 
            <span class="achieveTitle"><%=achievement.name%></span>
        </div> 
        <div> 
            
 
        </div> 
        
        
        
       

 

        
       <%for task in achievement.tasks%>
         <div class="taskBlock"> 
        	
        		
            <div class="span-1">
            	<% if current_user%>
					<% if current_user.completed_task?(task) %>
					<span id="task<%=task.id.to_s%>image"><img src="/images/flameBW.png" alt="" /></span>
					<%else%>
					<span id="task<%=task.id.to_s%>image"><img src="/images/flameColor.png" alt="" /></span>
					<%end%>
            	<%else%>
            	<img src="/images/flameColor.png" alt="" />
            	<%end%>
            	
            	
        	</div> 
            <div class="span-23 last"> 
                
         		<% if current_user %>
         		<p>
  					<%=check_box_tag "task" + task.id.to_s, 1, current_user.completed_task?(task), 
		  :onclick => remote_function(
		  :url =>  {:controller=> "users", :action => "save_tasks"}, #save_tasks_user_path(current_user), 
		  :with => "'task=#{task.id}&amp;show=' + this.checked", 
		  :method => :post) %>    <span id="task<%=task.id.to_s%>text"><%=task.name%></span> </p> <blockquote><%=task.description%></blockquote>
				<% else %>
			  		<p><%=task.name%></p> 
			  		<blockquote><%=task.description%></blockquote>
				<% end %>
            </div>            
        </div> 
        
        <!-- <div class="taskBlock"> 
        	
        		
            <div class="span-1">
            	<img src="/images/flameColor.png" alt="" />
            	
            	
            	
        	</div> 
            <div class="span-23 last"> 
                
         		<p>This is a test</p>
  				 <input id="task5" name="task5" onclick="$.ajax({data:'task=5&amp;show=' + this.checked, dataType:'script', type:'post', url:'/users/save_tasks'})" type="checkbox" value="1" /> <span id="task5text"> 5. Show the CUB SCOUT HANDSHAKE</span>
				
            </div>           
        </div> -->

        
        
        <%end%>
        	
   
        
   
    </div> 
       <%end%>
       
    </div>