   <!-- <iframe src="http://bragvest.rpxnow.com/openid/embed?token_url=http%3A%2F%2F" + <%= CGI::escape(request.env['HTTP_HOST']) %> + "%2Fusers%2Fcreate"  scrolling="no"  frameBorder="no"  allowtransparency="true"  style="width:400px;height:240px"></iframe> -->
  <!--  <div id="login"><iframe src="http://bragvest.rpxnow.com/openid/embed?token_url=http%3A%2F%2Flocalhost%3A3000%2Fusers%2Fcreate"  scrolling="no"  frameBorder="no"  allowtransparency="true"  style="width:400px;height:240px"></iframe> </div>-->
 
  <div id="login" class="container">
	<div class="span-5 ">
		To get started, just login from your favorite site or create an account with us.
	</div>
  	<div class="span-9"> 
  		<iframe src="http://bragvest.rpxnow.com/openid/embed?token_url=<%=CGI::escape(url_for(:action => 'create', :controller => 'users', :only_path => false))%>"  scrolling="no"  frameBorder="no"  allowtransparency="true"  style="width:400px;height:240px"></iframe>   		
	</div>	
	<div class="prefix-1 span-2">		
		OR		
	</div>
	<div class="span-7 last"> 
  	<% if flash[:message] %><div class="info"><%= flash[:message] %></div><% end %>
  <% if flash[:error] %><div class="error"><%= flash[:error] %></div><% end %> 

  <% form_for :user, @user, :url => { :action => "process_login" } do |f| %>
   Username: <%= f.text_field :email %>
    Password: <%= f.password_field :password %>
    <%= submit_tag 'Login'%> 
    <!-- <%=link_to "Forgot your password?", new_user_path, :class=> "small" %> -->
  <% end %> 
	<span class="small">Don't have an account? <%=link_to "Sign Up", new_account_path%></span>
 
	</div>
</div>

