<h1>Listing ranks</h1>

<table>
  <tr>
    <th>Name</th>
  </tr>

<% @ranks.each do |rank| %>
  <tr>
    <td><%=h rank.name %></td>
    <td><%= link_to 'Show', rank %></td>
    <td><%= link_to 'Edit', edit_rank_path(rank) %></td>
    <td><%= link_to 'Destroy', rank, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New rank', new_rank_path %>