 
 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en"> 
 
<head> 
    <title> 
    	<%if @rank.nil?%>
    	Login
    	<%else%>
   <%= @rank.name %>
   <%end%>
 - BragVest</title>    
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />  
    <meta name="language" content="en" />  
    <meta name="description" content="Cub Scout achievement guide." />  
    <meta name="keywords" content="cub, scout, achievement, badges, ranks, tiger, wolf, bear, webelos, webelos1, webelos2" />  
    <link rel="favicon" href="/favicon.ico"/> 
    <link rel="stylesheet" href="/stylesheets/screen.css" type="text/css" media="screen, projection" /> 
    <link rel="stylesheet" href="/stylesheets/print.css" type="text/css" media="print" /> 
    <!--[if IE]>
        <link rel="stylesheet" href="/content/ie.css" type="text/css" media="screen, projection" />
    <![endif]--> 
    <link rel="stylesheet" href="/stylesheets/style.css" type="text/css" media="screen, projection" />    
    <script type="text/javascript" src="http://www.google.com/jsapi"></script>  
    <script type="text/javascript"> 
    //<![CDATA[
        google.load("jquery", "1.3.2");
    //]]> 
    </script> 
 
        
 <%= javascript_include_tag :defaults %>

</head> 
<body>    
	
    <script type="text/javascript">
if (typeof Meebo == 'undefined') {
Meebo=function(){(Meebo._=Meebo._||[]).push(arguments)};
(function(q){
	var args = arguments;
	if (!document.body) { return setTimeout(function(){ args.callee.apply(this, args) }, 100); }
	var d=document, b=d.body, m=b.insertBefore(d.createElement('div'), b.firstChild), s=d.createElement('script');
	m.id='meebo'; m.style.display='none'; m.innerHTML='<iframe id="meebo-iframe"></iframe>';
	s.src='http'+(q.https?'s':'')+'://'+(q.stage?'stage-':'')+'cim.meebo.com/cim/cim.php?network='+q.network;
	b.insertBefore(s, b.firstChild);

})({network:'bragvest_xo37ti'});
Meebo('makeEverythingSharable');
}
</script>

<div id="mastheadWrapper"> 
    <div id="mastheadBanner"> 
        <div id="masthead" class="container">            
            <div class="span-3"> 
                <a href="/"><img src="/images/logo.png" alt="Home" /></a> 
            </div> 
            <div class="span-19"> 
                <div>Cub Scout Achievements</div> 
                <div id="mastTitle"> 
                     <%if @rank.nil?%>
    	Login
    	<%else%>
   <%= @rank.name %>
   <%end%>            
                </div> 
            </div>
            <div class="span-2 last">
            						<% if current_user %>
   <%= link_to 'Logout',{:action => :destroy, :controller => :users} %>
<% else %>
 
<%= link_to 'Login', new_user_path  %>

<% end %>            
        </div> 
    </div> 
</div> 
    
    <div id="navigation" class="container">        
    </div> 
    <%=yield%>

    
    <div id="footerWrapper"> 
        <div id="footer" class="container"> 
            <div class="span-8 prefix-1"> 
                <div class="header"> 
                    Bragging Socially
                </div> 
                <div> 
                	<ul>
                    <li><a href="http://twitter.com/bragvest"><img src="/images/social/twitter.png" alt="" /><span>Follow us on Twitter</span></a> </li>
                    <li><a href="http://www.facebook.com/pages/BragVest/346142438428?ref=ts"><img src="/images/social/facebook.png" alt="" /><span>Follow us on Facebook</span></a></li>
                    </ul>
                </div>                
            </div> 
            <div class="span-8 suffix-7 last"> 
                <div class="header"> 
                    Cub Scout Ranks
                </div> 
                <div> 
                   <ul> 
		                      <% for rank in @ranks %>

	                          
	                          
									<li><%= link_to rank.name, rank %></li>
	                         
								<% end %>

	                    </ul> 

                </div> 
            </div> 
            <div class="span-8 prefix-1"> 
                &copy; 2009 bragvest.com
            </div> 
            <div class="span-14 suffix-1 last"> 
                BragVest.com is not associated with or endorsed by the <a href="http://www.scouting.org/">Boy Scouts of America</a>.
            </div> 
        </div> 
    </div> 
    <script type="text/javascript"> 
    //<![CDATA[
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    //]]> 
    </script> 
    <script type="text/javascript"> 
    //<![CDATA[
        try {
            var pageTracker = _gat._getTracker("UA-9006604-1");
            pageTracker._trackPageview();
        } catch (err) { }
    //]]> 
    </script>  
    <script type="text/javascript">
var uservoiceOptions = {
  /* required */
  key: 'bragvest',
  host: 'bragvest.uservoice.com', 
  forum: '42911',
  showTab: true,  
  /* optional */
  alignment: 'left',
  background_color:'#f00', 
  text_color: 'white',
  hover_color: '#06C',
  lang: 'en'
};

function _loadUserVoice() {
  var s = document.createElement('script');
  s.setAttribute('type', 'text/javascript');
  s.setAttribute('src', ("https:" == document.location.protocol ? "https://" : "http://") + "cdn.uservoice.com/javascripts/widgets/tab.js");
  document.getElementsByTagName('head')[0].appendChild(s);
}
_loadSuper = window.onload;
window.onload = (typeof window.onload != 'function') ? _loadUserVoice : function() { _loadSuper(); _loadUserVoice(); };
</script> 

<script type="text/javascript">
 	Meebo("domReady");
</script> 

</body> 
</html>